@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes wave {

  0%,
  100% {
    height: 10%;
  }

  50% {
    height: 100%;
  }
}

.animate-wave-1 {
  animation: wave 0.8s infinite ease-in-out;
}

.animate-wave-2 {
  animation: wave 1.1s infinite ease-in-out 0.1s;
}

.animate-wave-3 {
  animation: wave 0.9s infinite ease-in-out 0.2s;
}

.animate-wave-4 {
  animation: wave 1.2s infinite ease-in-out 0.3s;
}

.animate-wave-5 {
  animation: wave 0.7s infinite ease-in-out 0.4s;
}

.glass-panel {
  @apply backdrop-blur-3xl bg-white/5 border border-white/10;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}